In [45]:
import pandas as pd

In [46]:
df = pd.read_csv('Four_companies_volatility.csv')
df.head(10)

   Company1_price  Company2_price  Company3_price  Company4_price
0            15.0        0.099763          0.0000       22.549999
1            19.0        0.119716          5.5000       23.180000
2            31.5        0.119716          5.5625       22.400000
3            65.0        0.099763          5.5625       22.160000
4            80.0        0.099763          5.5625       22.280001
5            84.0        0.099763          5.5625       22.350000
6            80.5        0.129692          5.5000       23.040001
7            81.0        0.129692          5.5000       22.440001
8            80.0        0.129692          5.5000       22.340000
9            75.0        0.129692          5.5625       22.090000

In [47]:
standard_deviation=df.std()

In [48]:
df.std()

Company1_price    283.411544
Company2_price      0.305562
Company3_price      1.409531
Company4_price      7.108370
dtype: float64

In [40]:
mean=df.mean()

In [35]:
df.corr(method='pearson')

                Company1_price  Company2_price  Company3_price  Company4_price
Company1_price        1.000000        0.246072        0.111083       -0.112634
Company2_price        0.246072        1.000000        0.028421        0.461951
Company3_price        0.111083        0.028421        1.000000        0.245284
Company4_price       -0.112634        0.461951        0.245284        1.000000

In [36]:
range_of_companies=df.max() - df.min()

In [37]:
print(range_of_companies)

Company1_price    1186.59000
Company2_price       1.52438
Company3_price      11.06250
Company4_price      29.84000
dtype: float64

In [ ]:
#['Company1_price'] ['Company1_price']

In [41]:
print(standard_deviation/mean)

Company1_price    1.430383
Company2_price    0.402592
Company3_price    0.283651
Company4_price    0.211512
dtype: float64

In [42]:
df_daily = pd.read_csv('Four_companies_daily_volatility.csv')

In [43]:
df_daily.head(10)

,Company1_price_high,Company1_price_low,Company2_price_high,Company2_price_low,Company3_price_high,Company3_price_low,Company4_price_high,Company4_price_low
0,15.000000,15.0,0.099763,0.099763,5.5000,5.4375,23.469999,22.160000
1,30.000000,19.0,0.129692,0.099763,5.5625,5.4375,23.200001,22.520000
2,65.000000,31.5,0.119716,0.119716,5.5625,5.5000,22.620001,21.969999
3,89.000000,65.0,0.099763,0.089787,5.5625,5.5000,22.570000,22.160000
4,84.000000,78.0,0.119716,0.099763,5.5625,5.5000,23.000000,22.280001
5,84.000000,80.0,0.099763,0.099763,5.5625,5.5000,22.922001,22.049999
6,81.500000,75.0,0.139668,0.129692,5.5625,5.5000,23.040001,22.020000
7,93.500000,80.0,0.129692,0.129692,5.5625,5.5000,22.549999,22.200001
8,90.000000,77.0,0.129692,0.129692,5.5625,5.5000,22.400000,22.090000
9,75.019997,55.0,0.129692,0.129692,5.6875,5.5625,22.420000,22.049999

In [50]:
df_daily['Company1_price_high'].max()

1209.0

In [57]:
standard_deviation_company1=df['Company1_price'].std()
mean_company1=df['Company1_price'].mean()


def coefficient_variation(standard_deviation, mean):
    return standard_deviation / mean

result=coefficient_variation(standard_deviation_comp1, mean_comp1)

print(result)

1.4303832538367989