In [2]:
import pandas as pd

data = {'Amount_of_cars':[0,1,2,3,5,7],
         'Frequenzy':[2,5,7,6,5,3]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   Amount_of_cars  Frequenzy
0               0          2
1               1          5
2               2          7
3               3          6
4               5          5
5               7          3

In [9]:
Sum=df['Amount_of_cars'].sum() #Getting the sum of all the amount of cars in the column
Count=df['Amount_of_cars'].count() #Getting the amount of rows in the column
#Mean=df['Amount_of_cars'].mean()

In [14]:
print(Sum) #(18+x) / 7 = 23.1 /7 I got 7 by adding one to the amount of rows in the column

#18+x=23,1

# x = 23,1 - 18

x = 5,1

x ~~ 5

print(7*3.3)
print(23,1/7)

18
23.099999999999998
23 0.14285714285714285

In [16]:
df['Frequenzy'].sum() / (df['Frequenzy'].count() + 1)

4.0

In [18]:
df['Amount_of_cars'].mean()

3.0

In [19]:
df['Amount_of_cars'].count()

6

In [20]:
df['Frequenzy'].mean()

4.666666666666667

In [21]:
df['Amount_of_cars'].sum()

18

In [35]:
print(23/7)

3.2857142857142856

DBSCAN(eps=10)

In [17]:
print(3/9 * 2/8)

0.08333333333333333

In [18]:
print(0.083 * 12)

0.996

In [25]:
print(2/6 * 1/6 * 1/6)

0.009259259259259259

In [20]:
print(12 * 12)

144

15 lippua
5 kaverille 3 lippua per nuppi
60% voittomahdollisuus
9 lippua 15:sta voittaa

In [28]:
print(2/3*2/3*2/3*2/3*1/3)

0.06584362139917695

In [33]:
print(15/0.6)

25.0

In [34]:
print(9*0.6)

5.3999999999999995

In [35]:
print(3*0.6)

1.7999999999999998

In [38]:
print(9/1.8)

5.0

In [39]:
print(6/10*3)

1.7999999999999998

In [42]:
print(9*0.72)

6.4799999999999995