In [17]:
import pandas as pd

In [18]:
data = {'Grade':['L','E','M','C','B','A','I'],
         'Grade_in_numbers':[7,6,5,4,3,2,0],
       'Amount':[7,20,30,16,9,4,0]}

In [19]:
df = pd.DataFrame(data)

In [20]:
print(df)

  Grade  Grade_in_numbers  Amount
0     L                 7       7
1     E                 6      20
2     M                 5      30
3     C                 4      16
4     B                 3       9
5     A                 2       4
6     I                 0       0

In [21]:
df

  Grade  Grade_in_numbers  Amount
0     L                 7       7
1     E                 6      20
2     M                 5      30
3     C                 4      16
4     B                 3       9
5     A                 2       4
6     I                 0       0

In [22]:
print(df['Amount'].std()) #standard deviation of the amount of grades

10.371664696249518

In [23]:
count=df['Amount'].count() #numbers of rows in a column

In [24]:
mean=df['Amount'].mean() #mean of the column
df.mean()

Grade_in_numbers     3.857143
Amount              12.285714
dtype: float64

In [25]:
df.std()

Grade_in_numbers     2.410295
Amount              10.371665
dtype: float64

In [26]:
print(mean*count) #Just exploring

86.0

In [27]:
print(df['Amount'].sum()) #Finding out the sum of all the students/grades

86

In [28]:
print(df['Grade_in_numbers'].mean())

3.857142857142857

In [29]:
palkka = [1665.14 , 2184.72 , 2184.72 , 262.17, 1780.71]

In [30]:
kokonaispalkka = sum(palkka)

In [31]:
print(kokonaispalkka)

8077.46

In [32]:
maksettava_lasku = kokonaispalkka * 0.0138

In [33]:
print(maksettava_lasku)

111.468948

In [38]:
answer = []

for i in palkka:
    lol=i * 0.0138
    print(lol)
    answer.append(lol)
    
print(sum(answer))

22.978932
30.149135999999995
30.149135999999995
3.6179460000000003
24.573798
111.468948