In [46]:
import pandas as pd
from sklearn import linear_model
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures

In [47]:
df=pd.read_csv('CarData.csv')

In [48]:
df

,Car_Name,Year,Current_price,Selling_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [49]:
df["Fuel_Type"].value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

In [50]:
The_Carname_frame=df["Car_Name"]

In [51]:
The_Carname_frame.shape

(301,)

In [52]:
The_Carname_frame.head()

0       ritz
1        sx4
2       ciaz
3    wagon r
4      swift
Name: Car_Name, dtype: object

In [53]:
df["Seller_Type"].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [54]:
df["Transmission"].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [55]:
df = pd.get_dummies(df, 
                            columns=["Fuel_Type"], 
                            prefix=["Fuel_Type:"])

#,"Seller_Type","Transmission","Car_Name"
# , "Seller_Type:","Transmission_Type:","Car_Name_Type:"

In [56]:
df.head(10)

,Car_Name,Year,Current_price,Selling_Price,Kms_Driven,Seller_Type,Transmission,Owner,Fuel_Type:_CNG,Fuel_Type:_Diesel,Fuel_Type:_Petrol
0,ritz,2014,3.35,5.59,27000,Dealer,Manual,0,0,0,1
1,sx4,2013,4.75,9.54,43000,Dealer,Manual,0,0,1,0
2,ciaz,2017,7.25,9.85,6900,Dealer,Manual,0,0,0,1
3,wagon r,2011,2.85,4.15,5200,Dealer,Manual,0,0,0,1
4,swift,2014,4.60,6.87,42450,Dealer,Manual,0,0,1,0
5,vitara brezza,2018,9.25,9.83,2071,Dealer,Manual,0,0,1,0
6,ciaz,2015,6.75,8.12,18796,Dealer,Manual,0,0,0,1
7,s cross,2015,6.50,8.61,33429,Dealer,Manual,0,0,1,0
8,ciaz,2016,8.75,8.89,20273,Dealer,Manual,0,0,1,0
9,ciaz,2015,7.45,8.92,42367,Dealer,Manual,0,0,1,0

In [57]:
regression_tool = linear_model.LinearRegression()

In [58]:
regression_tool.fit(df[['Selling_Price','Fuel_Type:_CNG','Fuel_Type:_Diesel','Fuel_Type:_Petrol']], df['Current_price'])

#,'Year','Kms_Driven','Owner',,'Seller_Type:_Dealer','Seller_Type:_Individual','Transmission_Type:_Automatic','Transmission_Type:_Manual'

LinearRegression()

In [14]:
regression_curve=regression_tool.predict(df[['Selling_Price','Fuel_Type:_CNG','Fuel_Type:_Diesel','Fuel_Type:_Petrol']])

In [24]:
from sklearn.metrics import r2_score
current_price_r2_score=r2_score(df['Current_price'], regression_curve)

print("R2 score:",current_price_r2_score)

R2 score: 0.8825741581640657

In [28]:
def adj_r2(df, r2, num_of_input_dimensions):
    #Adjusted RSquared of the model
    
    n=len(df) #number of records 
    p=num_of_input_dimensions #number of features .i.e. columns excluding uniqueId and target variable
    return 1-(1-r2)*(n-1)/(n-p-1) # the mathematical formula for calculating adjusted r2.

In [29]:
adjusted_r2=adj_r2(df, current_price_r2_score, 11)
## Our adj_r2-function needs to get the size (num of rows) of our data to calculate adjusted r2. 
## This is why our first parameter is the original data
## Our adj_r2-function needs r2-score to be able to calculate adjusted r2-score
## This is why our second parameter is the r2-score we calculate beforehand
## Our adj_r2-function needs the number of input dimensions as third parameter

print(adjusted_r2)

0.8781046624540474